<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Receitas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="container">

    <div class="header">
        <h1>Gerenciamento de Receitas Top</h1>
        <form action="/" method="get">
            <button class="btn-secondary">Deslogar</button>
        </form>
    </div>

    <div class="card">
        <form action="/receitas/salvar" method="post">

            <input type="hidden" name="id" th:value="${receita.id}">

            <h2 th:text="${receita.id != null} ? 'Edição de Receita' : 'Cadastro de Receita'"></h2>

            <div class="form-grid">

                <div class="field">
                    <label>Nome</label>
                    <input type="text" name="nome" th:value="${receita.nome}" required>
                </div>

                <div class="field">
                    <label>Descrição</label>
                    <input type="text" name="descricao" th:value="${receita.descricao}" required>
                </div>

            </div>

            <div class="form-row">

                <div class="field">
                    <label>Data</label>
                    <input type="date" name="dataRegistro" th:value="${receita.dataRegistro}" required>
                </div>


                <div class="field">
                    <label>Custo</label>

                    <div class="input-money">
                        <span>R$</span>
                        <input type="number"
                               step="0.01"
                               name="custo"
                               th:value="${receita.custo}"
                               required>
                    </div>

                </div>

                <div class="field">
                    <label>Tipo</label>
                    <select name="tipoReceita">
                        <option value="DOCE" th:selected="${receita.tipoReceita == 'DOCE'}">Doce</option>
                        <option value="SALGADA" th:selected="${receita.tipoReceita == 'SALGADA'}">Salgada</option>
                    </select>
                </div>

                <div class="field btn-field">
                    <label>&nbsp;</label>
                    <button class="btn-primary"
                            th:text="${receita.id != null} ? 'Atualizar' : 'Salvar'">
                    </button>
                </div>

            </div>

        </form>
    </div>

    <div class="top-bar">
        <h2>Lista de Receitas</h2>

        <form action="/receitas/pdf" method="get">
            <input type="hidden" name="nome" th:value="${nome}">
            <input type="hidden" name="tipo" th:value="${tipo}">
            <input type="hidden" name="dataInicio" th:value="${dataInicio}">
            <input type="hidden" name="dataFim" th:value="${dataFim}">
            <button class="btn-primary">Exportar PDF</button>
        </form>
    </div>

    <div class="card">
        <form action="/receitas" method="get" class="filter">

            <div class="field">
                <label>Nome</label>
                <input type="text" name="nome" th:value="${nome}">
            </div>

            <div class="field">
                <label>Tipo</label>
                <select name="tipo">
                    <option value="">Todos</option>
                    <option value="DOCE" th:selected="${tipo == 'DOCE'}">Doce</option>
                    <option value="SALGADA" th:selected="${tipo == 'SALGADA'}">Salgada</option>
                </select>
            </div>

            <div class="field">
                <label>Data Inicial</label>
                <input type="date" name="dataInicio" th:value="${dataInicio}">
            </div>

            <div class="field">
                <label>Data Final</label>
                <input type="date" name="dataFim" th:value="${dataFim}">
            </div>

            <div class="actions-filter">
                <button class="btn-primary">Filtrar</button>
                <a href="/receitas">
                    <button type="button" class="btn-secondary">Limpar</button>
                </a>
            </div>

        </form>
    </div>

    <div class="table-container">
        <table>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Data</th>
                <th>Custo</th>
                <th>Tipo</th>
                <th>Ações</th>
            </tr>

            <tr th:each="r : ${lista}">
                <td th:text="${r.nome}"></td>
                <td th:text="${r.descricao}"></td>
                <td th:text="${#temporals.format(r.dataRegistro, 'dd/MM/yyyy')}"></td>
                <td th:text="'R$ ' + ${#numbers.formatDecimal(r.custo, 1, 'POINT', 2, 'COMMA')}"></td>
                <td th:text="${#strings.capitalize(#strings.toLowerCase(r.tipoReceita))}"></td>
                <td class="actions">
                    <a th:href="@{'/receitas/editar/' + ${r.id}}" class="btn-edit">Editar</a>
                    <a th:href="@{'/receitas/excluir/' + ${r.id}}" class="btn-delete">Excluir</a>
                </td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>
